.App{
  text-align: center;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.todo-container{
width: 100%;
}
.todo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 0 12px;
}
.main-todo{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
  width: 100%;
  cursor: pointer;

}

 button{
  margin: 10px 5px;
  background-color: rgba(4, 183, 228, 0.733);
  outline: none;
  border: none;
  border-radius: 20px;
  padding:10px 20px;
  color: white;
  cursor: pointer;
  font-size: 10px;
}

.completedTrue{
  text-decoration: line-through;
  color: forestgreen;
}

 input{
  padding:5px 10px;
  background-color: rgba(5, 5, 133, 0.301);
  border-radius: 10px;

}